body {
    padding-top: 50px;
    padding-bottom: 20px;
    /*background-color: #e3dcc5;*/
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}



/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}

.bs-callout-info {
    border-left-color: #1b809e; /*blue*/
}

.bs-callout-royal {
    border-left-color: #6f5499; /*purple*/
}
.card {
    border-radius: 25px;
    background-color: #f1f1f1;
    padding: 20px;
    margin-top: 20px;
}

/*Custom Navbar*/
.navbar-custom {
    background-color: rgba(217, 237, 247, 1);
    border-color: #bbb5bd;
    margin-bottom: 0px;
}

    .navbar-custom .navbar-brand {
        color: #14a7bd;
    }

        .navbar-custom .navbar-brand:hover,
        .navbar-custom .navbar-brand:focus {
            color: #14a7bd;
        }

    .navbar-custom .navbar-text {
        color: #14a7bd;
    }

    .navbar-custom .navbar-nav > li > a {
        color: #14a7bd;
    }

        .navbar-custom .navbar-nav > li > a:hover,
        .navbar-custom .navbar-nav > li > a:focus {
            color: #14a7bd;
        }

    .navbar-custom .navbar-nav > .active > a,
    .navbar-custom .navbar-nav > .active > a:hover,
    .navbar-custom .navbar-nav > .active > a:focus {
        color: #14a7bd;
        background-color: #bbb5bd;
    }

    .navbar-custom .navbar-nav > .open > a,
    .navbar-custom .navbar-nav > .open > a:hover,
    .navbar-custom .navbar-nav > .open > a:focus {
        color: #14a7bd;
        background-color: #bbb5bd;
    }

    .navbar-custom .navbar-toggle {
        border-color: #bbb5bd;
    }

        .navbar-custom .navbar-toggle:hover,
        .navbar-custom .navbar-toggle:focus {
            background-color: #bbb5bd;
        }

        .navbar-custom .navbar-toggle .icon-bar {
            background-color: #14a7bd;
        }

    .navbar-custom .navbar-collapse,
    .navbar-custom .navbar-form {
        border-color: #14a7bd;
    }

    .navbar-custom .navbar-link {
        color: #14a7bd;
    }

        .navbar-custom .navbar-link:hover {
            color: #14a7bd;
        }

@media (max-width: 767px) {
    .navbar-custom .navbar-nav .open .dropdown-menu > li > a {
        color: #14a7bd;
    }

        .navbar-custom .navbar-nav .open .dropdown-menu > li > a:hover,
        .navbar-custom .navbar-nav .open .dropdown-menu > li > a:focus {
            color: #14a7bd;
        }

    .navbar-custom .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #14a7bd;
        background-color: #bbb5bd;
    }
}


