@{
    ViewData["Title"] = "About Us";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

https://www.louisville-aquarium.com/aquarium-louisville-kentucky.html
<br />
<h4 class="text-danger">About Page Sub Header</h4>
<p> 
    Skees Aquarium is a full-service custom aquarium installation, cleaning and maintenance company. We have been providing dedicated and affordable service in Louisville and the surrounding communities. Our number one goal is performance, dependability, and durability.

    We can customize our products to fit your space requirements - no more squeezing equipment into small spaces or fumbling with hoses and valves you can't reach. We're here to offer you unique and effective results for even the most unusual challenges. We are experts and will treat your fish & aquarium with great care. We do it all -- from installing and maintaining your aquarium to troubleshooting any problems that may arise throughout your aquarium's lifetime.

    Skees Aquarium provides quality, custom service at competitive prices. We work hard to make sure our clients are completely satisfied with our work and the value they receive from us. We believe that the client is always right and should always come first..
</p>
