@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<br />
create popup like from the contact us button on this page - https://www.louisville-aquarium.com/contact-aquarium-louisville.html#
<br /><br />Bootstrap modal exampls - https://getbootstrap.com/docs/3.3/javascript/#modals-examples
<p>
    @*This section is already from the site*@
    For the convenience of our clients, we are available 24 hours a day, 7 days a week.
    To schedule a free consultation or to find out more about any of our services, please call us or fill out the form below.
</p>
<address>
    We are entirely Online 
</address>
<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
