
@{
    ViewData["Title"] = "Getting Started";
}

<h1>Our Services</h1>
<div class="row">

<div class="col-md-6">
    <h2>Free Estimates</h2>
    <ul>
        <li><a href="https://getbootstrap.com/docs/3.3/">Get familiar with Bootstrap classes version 3.7</a></li>
        <li><a href="https://www.louisville-aquarium.com/aquarium-louisville-kentucky.html">Create a responsive version of this site</a> start with the home page copy the content and play around with different classes you find on bootstrap's site</li>
        <li>Download random fish photos for the home page carousel add the photos to the project images folder > then ref them replacing the current banner photos</li>
        <li>Before you make your decision, schedule a FREE consultation and allow us the opportunity to provide you with an estimate on your aquarium maintenance and new aquarium setup.</li>

    </ul>
    <div class="row">
        
        <div class="col-md-6">
            <h2>Commercial & Residential</h2>
            <ul>
            <li>Our professional and dependable services can be tailored to fit your particular needs. </li>
            <li>Weekly visits make your aquarium a hands-free experience, perfect for a waiting room or office-type setting.</li>
            <li>The biweekly or monthly programs let you choose the amount of involvement you wish to have.</li>

            </ul>
        </div>
    </div>
    <div class="row">
       
        <div class="col-md-6">
            <h2>Complete Cleaning and Maintenance</h2>
            <ul>
            <li>Good cleaning and maintenance practices lead to a healthy and long-lasting aquarium. </li>
            <li>Our aquarium cleaning and maintenance service includes a health check on all tank fish, all necessary water tests and water changes, substrate vacuuming, tank cleaning inside & out, complete filter cleaning & changing and equipment check.</li>
            <li>We also offer on-site emergency service.</li>

            </ul>
        </div>
    </div>
    <hr />
    <div class="row">
        <h2>Other help links</h2>
        <div class="col-md-3">
            <h2>Application uses</h2>
            <ul>
                <li>I need to typ etext here to see where this is located</li>
                <li>Theming using <a href="https://go.microsoft.com/fwlink/?LinkID=398939">Bootstrap</a></li>
            </ul>
        </div>
        <div class="col-md-3">
            <h2>How to</h2>
            <ul>
                <li><a href="https://go.microsoft.com/fwlink/?LinkID=398600">Add a Controller and View</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkId=699315">Manage User Secrets using Secret Manager.</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkId=699316">Use logging to log a message.</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkId=699317">Add packages using NuGet.</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkId=699319">Target development, staging or production environment.</a></li>
            </ul>
        </div>
        <div class="col-md-3">
            <h2>Overview</h2>
            <ul>
                <li><a href="https://go.microsoft.com/fwlink/?LinkId=518008">Conceptual overview of what is ASP.NET Core</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkId=699320">Fundamentals of ASP.NET Core such as Startup and middleware.</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkId=398602">Working with Data</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkId=398603">Security</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkID=699321">Client side development</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkID=699322">Develop on different platforms</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkID=699323">Read more on the documentation site</a></li>
            </ul>
        </div>
    </div>
