@model MyCoreWebApp.Models.DataModels.CustomerDataModel
@{
    ViewData["Title"] = "Home Page ";
}

<div class="jumbotron">
    <div class="container text-center">
        <img src="~/images/logo1.png" class="img-responsive" title="SkeesLogo" />
        <hr />
        <p>@ViewData["Message"]</p>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <h2>Application uses</h2>
        <ul>
            <li>Sample pages using ASP.NET Core MVC</li>
            <li>Theming using <a href="https://go.microsoft.com/fwlink/?LinkID=398939">Bootstrap</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>How to</h2>
        <ul>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=398600">Add a Controller and View</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699315">Manage User Secrets using Secret Manager.</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699316">Use logging to log a message.</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699317">Add packages using NuGet.</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699319">Target development, staging or production environment.</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Overview</h2>
        <ul>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=518008">Conceptual overview of what is ASP.NET Core</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699320">Fundamentals of ASP.NET Core such as Startup and middleware.</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=398602">Working with Data</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=398603">Security</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=699321">Client side development</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=699322">Develop on different platforms</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=699323">Read more on the documentation site</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Run &amp; Deploy</h2>
        <ul>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=517851">Run your app</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=517853">Run tools such as EF migrations and more</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=398609">Publish to Microsoft Azure Web Apps</a></li>
            <li>some list item<a href="#" target="_blank">push</a></li>
        </ul>
        <hr />
       
       

    </div>
    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Panel title</h3>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                </div>
                @* State selection dropdown *@
                <div class="form-group">
                    @Html.LabelFor(m => m.State)
                    @Html.DropDownListFor(m => m.State, // 1. Store selected value in Model.State;
                                                        // when page is rendered after postback,
                                                        // take selected value from Model.State.

                           // 2. Take list of values from Model.States
                           Model.States,

                           // 3. Text for the first 'default' option
                           "- Please select a state -",

                           //4. A class name to assign to <select> tag
                           new { @class = "form-control" })
                </div>
                <br />
                <div class="text-center">
                <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-bitcoin"></i> Transfer Bitcoin</button>
                    </div>
            </div>
        </div>
        <div class="well-lg"><ul>
    @{

        foreach (var item in Model.States)
        {
            <li>@item.Value</li>
        }

    }
</ul>
        </div>
    </div>
</div>
