@model MyCoreWebApp.Models.DataModels.HomeDataModel
@{
    ViewData["Title"] = "Home Page ";
    int i = 1;
}

<div class="jumbotron">
    <div class="container text-center">
        <img src="~/images/logo1.png" class="img-responsive" title="SkeesLogo" />
        <hr />
        <p>@ViewData["Message"]</p>
    </div>
</div>
<div class="row"> 
     
        @foreach (var item in Model.CardContentList)
        {
   

            <div class="col-md-4 col-sm-12">
                <a href="#">
                <div class="panel panel-default">
                    <div class="panel-body text-center">

                        <h4 class="text-info"> @item</h4>
                    
                       



                    </div>
                    </div>
                 </a>
                </div>
          
        }
    </div>

