@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="row">
    <div class="col-md-12">
        <p class="text-center">&copy; @DateTime.Now.Year.ToString() - Dirty Fish Tank</p>
    </div>
    <br />
    <br />
    <br />
    <div class="col-md-3">
        Icons made by <a href="https://www.flaticon.com/authors/those-icons" title="Those Icons">Those Icons</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
    </div>
    <div class="col-md-3">
        Logo's created by <a href="https://logohub.io/" title="LogoHub">Logo Hub</a>
    </div>
    <div class="col-md-3">
        Navbar built with <a href="https://work.smarchal.com/twbscolor/" title="twbscolor">twbscolor</a>
    </div>
    <div class="col-md-3">
        Content from <a href="https://www.louisville-aquarium.com/aquarium-louisville-kentucky.html">Louisville Aquarium</a> as a proof of concept.
    </div>
</div>